.main_chat
  .main_chat__header
    .main_chat__header__contents
      .main_chat__header__contents__group
        .main_chat__header__contents__group__name
          = @group.name
        .main_chat__header__contents__group__member
          = "Member：#{@group.users.pluck(:name).join(" ")}"
      .main_chat__header__contents__edit
        .main_chat__header__contents__edit__btn
          = link_to("Edit", edit_group_path(@group)) 


  .main_chat__list
    = render @messages
   

  .form
    = form_for [@group, @message] do |f|
      .inputbox
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'image_icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit_btn'
  