.side_bar
  .side_bar__header
    .side_bar__header__menu
      .side_bar__header__menu__UserName
        = current_user.name
      .side_bar__header__menu__icons
        = link_to new_group_path do
          = icon("far", "edit", class: "icon")
          %span<>
        = link_to edit_user_path(current_user) do
          = icon("fas", "cog", class: "icon")
          %span<>
  .side_bar__GroupList
    - current_user.groups.each do |group|
      .side_bar__GroupList__contents
        = link_to group_messages_path(group) do
          .side_bar__GroupList__contents__GroupName
            = group.name
          .side_bar__GroupList__contents__NewMessage
            = group.show_last_message

